@use "../../styles/partials/global" as *;
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/responsive" as *;

.dashboard {
  display: grid;
  margin: 1rem 0;
  height: calc(100vh - 8rem);
  // background-color: red;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  @include tablet {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
  @include desktop {
    max-width: 1440px;
    margin: 1rem auto;
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }
}

// recent reading
.recent-reading {
  grid-column: 1 / 3;
  display: flex;
  align-items: center;
  border-radius: 18px;
  box-shadow: 2px 10px 19px -1px rgba(0, 0, 0, 0.05);
  background-color: $whiteColor;
  padding: 1.5rem;
  overflow-x: hidden;
  overflow-y: hidden;
  max-height: 18rem;

  &__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  &__sub-heading,
  &__book-description,
  &__page-info {
    color: $placeholderColor;
  }

  &__book-description {
    width: 70%;
  }

  &__sub-heading,
  &__page-info {
    font-weight: 500;
  }

  &__bottom {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: start;
    gap: 0.75rem;
    @include tablet {
      flex-direction: row;
    align-items: center;
    }
  }
  &__CTA {
    @extend %CTAbutton;
    padding: 0.7rem 1.5rem;
  }
  &__dot {
    height: 0.5rem;
    width: 0.5rem;
    background-color: $placeholderColor;
    border-radius: 50%;
    margin-right: 0.5rem;
    display: inline-block;
  }
  &__right {
    position: relative;
    @include tablet {
      height: 100%;
    }
  }
  &__book-cover {
    border-radius: 50%;
    height: 12rem;
    width: 12rem;
    position: absolute;
    left: -8rem;
    bottom: -13rem;
    box-shadow: -31px -21px 0px rgba(105, 54, 245, 0.2),
      -19px -15px 0px rgba(105, 54, 245, 0.43),
      -9px -9px 0px rgba(105, 54, 245, 0.61);
    @include tablet {
      position: static;
      height: inherit;
      margin-left: 1.75rem;
      border-radius: 18px;
      box-shadow: none;
    }
  }

  @include tablet {
    max-height: 15rem;
    grid-column: 3 / -1;
    flex-direction: row;
  }
  @include desktop {
    grid-column: 4 / 10;
  }
}

// book selection and short sliders
.book-options {
  background-color: $whiteColor;
  border-radius: 18px;
  box-shadow: 2px 10px 19px -1px rgba(0, 0, 0, 0.05);
  grid-column: 2 / -1;

  @include tablet {
    grid-column: 3 / 5;
  }
  @include desktop {
    grid-column: 4 / 10;
  }
}

// CTA banner
.banner {
  background-color: $primaryColor;
  border-radius: 18px;
  box-shadow: 2px 10px 19px -1px rgba(0, 0, 0, 0.05);
  grid-column: 1 / -1;

  @include tablet {
    grid-column: 5 / -1;
  }
  @include desktop {
    grid-column: 10 / 13;
  }
}

// CTAs for book management
.manage-CTA {
  background-color: $whiteColor;
  border-radius: 18px;
  box-shadow: 2px 10px 19px -1px rgba(0, 0, 0, 0.05);
  grid-column: 1 / -1;

  @include tablet {
    grid-column: 5 / -1;
  }
  @include desktop {
    grid-column: 10 / 13;
  }
}
