$primaryColor: #6936F5;
$accentColor: #F2831B;
$textColor: #282828;
$whiteColor: #fff;
$borderColor: #B2B7C5;
$placeholderColor: #B2B7C5;
$grayColor: #f3f3f3c3;
$bodyColor: #F1F2F9;
$errorColor: #eb4343;
$successColor: #578C7A;
$darkmodeBackground: #262626;