@use "responsive" as *;
@use "colors" as *;
@use "typography" as *;

// CSS Reset
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// elements
body {
  width: 100%;
  height: 100%;
  color: $textColor;
  font-family: "Poppins", sans-serif;
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-weight: 400;
  overflow-x: hidden;
  background-color: $bodyColor;
  -webkit-tap-highlight-color: transparent;
}

h1 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  @include tablet {
    font-size: 2rem;
    line-height: 3rem;
  }
}
// sub Header
h2 {
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 600;
  @include tablet {
    font-size: 1.25rem;
    line-height: 1.25rem;
  }
}

h3 {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 600;
  @include tablet {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

h4 {
  font-size: 0.688rem;
  line-height: 1rem;
  font-weight: 600;

  @include tablet {
    font-size: 1rem;
    line-height: 1.75rem;
  }
}


a {
  text-decoration: none;
}

label {
  font-weight: 600;
}

// extend classes
%textInput {
  border: 1px solid $borderColor;
  padding: 1rem;
  border-radius: 18px;
  width: 100%;
  font-size: 0.8rem;
  transition: all 0.5s;
  background-color: $bodyColor;

  &:hover {
    border: 1px solid $primaryColor;
  }
  &:focus {
    outline: none;
  }

  &::placeholder {
    font-family: "Poppins", sans-serif;
    color: $placeholderColor;
  }
  @include tablet {
    font-size: 0.8125rem;
  }
}

%CTAbutton {
  padding: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  background-color: $primaryColor;
  border: none;
  border-radius: 18px;
  color: $whiteColor;
  cursor: pointer;
  transition: all 0.5s;

  &:hover {
    background-color: #6e3ff1d7;
  }
  &:active {
    transform: scale(1.1);
  }
}

.active {
  background-color: $primaryColor;
  color: $whiteColor !important;
  font-weight: 700 !important;
  padding-left: 4.75rem;
  transition: all 0.5s;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  @include tablet {
    padding-left: 4rem;
  }
}

.modal-open {
  overflow: hidden;
}