@use "responsive" as *;
@use "colors" as *;
@use "typography" as *;

// CSS Reset
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// elements
body {
  width: 100%;
  height: 100%;
  color: $textColor;
  font-family: "Poppins", sans-serif;
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-weight: 400;
  overflow-x: hidden;
  background-color: $bodyColor;
  -webkit-tap-highlight-color: transparent;
}

h1 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  @include tablet {
    font-size: 2rem;
    line-height: 3rem;
  }
}
// sub Header
h2 {
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 600;
  @include tablet {
    font-size: 1.25rem;
    line-height: 1.25rem;
  }
}

h3 {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 600;
  @include tablet {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

h4 {
  font-size: 0.688rem;
  line-height: 1rem;
  font-weight: 600;

  @include tablet {
    font-size: 1rem;
    line-height: 1.75rem;
  }
}

a {
  text-decoration: none;
}

label {
  font-weight: 600;
  position: relative;
}

// extend classes
%textInput {
  border: 1px solid $borderColor;
  padding: 1rem;
  border-radius: 18px;
  width: 100%;
  font-size: 0.8rem;
  transition: all 0.5s;
  background-color: $bodyColor;
  font-family: "Poppins", sans-serif;

  &:hover {
    border: 1px solid $primaryColor;
  }
  &:focus {
    outline: none;
  }

  &::placeholder {
    color: $placeholderColor;
  }
  @include tablet {
    font-size: 0.8125rem;
  }
}

%CTAbutton {
  padding: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  background-color: $primaryColor;
  border: none;
  border-radius: 18px;
  color: $whiteColor;
  cursor: pointer;
  transition: all 0.5s;

  &:hover {
    background-color: #6e3ff1d7;
  }
  &:active {
    transform: scale(1.1);
  }
}

.active {
  background-color: $primaryColor;
  color: $whiteColor !important;
  font-weight: 700 !important;
  padding-left: 4.75rem;
  transition: all 0.5s;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  @include tablet {
    padding-left: 4rem;
  }
}

.modal-open {
  overflow: hidden;
}

.darkmode--activated {
  .header {
    background-color: $darkmodeBackground;
    color: $whiteColor;

    & svg {
      color: $whiteColor;
      border-radius: 18px;
      &:hover {
        background-color: #6936f5bc;
        padding: 0.2rem;
      }
    }
    &__dropdown {
      background-color: #333;
    }
    &__dropdown-item h3 {
      color: $whiteColor;
    }
    &__dropdown-info-wrapper {
      color: $whiteColor;
    }
    &__username {
      color: $whiteColor;
    }
  }
  .notification {
    background-color: $darkmodeBackground !important;
    &__item {
      &:hover {
        background-color: #6e6e6e;
      }
    }
  }
  .side-menu {
    background-color: $darkmodeBackground !important;
    color: $placeholderColor !important;
  }
  .nav {
    &__item {
      color: $placeholderColor;
    }
  }
  section {
    isolation: isolate;
    background-color: $darkmodeBackground !important;
    .recent-reading {
      &__book-name {
        color: $whiteColor;
      }
    }
    .apexcharts-text,
    .apexcharts-title-text,
    .apexcharts-legend-text {
      fill: $whiteColor;
      color: $whiteColor !important;
    }
    .books-NYT {
      &__heading {
        color: $whiteColor;
      }
    }
    .banner {
      &__circle circle {
        fill: #4c4c4c;
      }
    }
    .manage-CTA {
      &__heading {
        color: $whiteColor;
      }
      &__option {
        background-color: #333;
      }
    }
    .books-shelf {
      &__heading {
        color: $whiteColor;
      }
    }
    .recent-added {
      position: relative;
      &__left {
        background-color: $darkmodeBackground;
        color: $whiteColor;
      }
    }
    .add-reading {
      &__heading {
        color: $whiteColor;
      }
      &__card-info {
        background-color: #333;
        color: $whiteColor;
      }
    }

    .edit-modal {
      &__overlay {
        background-color: #333;
      }
      &__box {
        background-color: $darkmodeBackground;
      }
      &__heading {
        color: $whiteColor;
      }
      &__preview-card {
        color: $whiteColor;
      }
    }

    .remove-modal {
      &__overlay {
        background-color: #333;
      }
      &__box {
        background-color: $darkmodeBackground;
      }
      &__heading {
        color: $whiteColor;
      }
      &__preview-card {
        color: $whiteColor;
      }
    }

    .books-pending {
      &__heading {
        color: $whiteColor;
      }
      &__right {
        background-color: #333;
      }
      &__book-card-info {
        color: $whiteColor;
      }
    }

    .goalset {
      &__heading {
        color: $whiteColor;
      }
      &__container {
        background-color: $darkmodeBackground;
      }
      &__center-text {
        color: $whiteColor;
      }
      &__sub-center-text {
        color: $placeholderColor;
      }
    }
    .done-reading {
      background-color: $darkmodeBackground;
    }
    .apexcharts-canvas {
      background-color: $darkmodeBackground;
    }

    .recent-book {
      &__heading {
        color: $whiteColor;
      }
      &__info-wrapper p,
      span {
        color: $whiteColor;
      }
    }
    .done-reading {
      &__heading {
        color: $whiteColor;
      }
    }
    .book {
      &__heading {
        color: $whiteColor;
      }
      &__criteria,
      &__purchase {
        color: $whiteColor;
      }
      &__in-shelf {
        color: $whiteColor;
      }
    }
    .friends {
      color: $whiteColor;
      &__item-container {
        &:hover {
          background-color: #6e6e6e;
          color: $whiteColor;
        }
      }
    }

    label {
      color: $whiteColor;
    }
    button {
      background-color: #3b3b3b;
      color: $whiteColor;
    }
    input,
    textarea {
      transition: all 0.5s;
      color: $whiteColor;
      background-color: #3f3f3f;
      &[type="file"] {
        background-color: $darkmodeBackground;
      }
    }
    footer {
      isolation: isolate;
      background-color: $darkmodeBackground !important;
      color: $whiteColor;
    }
  }
}
