@use "../../../styles/partials/global" as *;
@use "../../../styles/partials/colors" as *;
@use "../../../styles/partials/responsive" as *;

.goalset {
  background-color: $whiteColor;
  border-radius: 18px;
  box-shadow: 2px 10px 19px -1px rgba(0, 0, 0, 0.05);
  grid-column: 1 / -1;
  grid-row: 2 / 3;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  overflow-x: hidden;
  position: relative;
  overflow: hidden;

  &__left {
    width: 100%;
    padding: 1.5rem;
    color: $textColor;
    margin-bottom: 1rem;
  }

  &__container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: $whiteColor;
    border-radius: 18px;
  }
  &__semi-pie-container {
    position: relative;
    height: min-content;
    width: fit-content;
  }
  &__semi-pie {
    transform: scaleX(1.2);
    height: 10rem;

    @include tablet {
      height: 10rem;
    }
    @include desktop {
      height: 11rem;
    }
  }
  &__center-text {
    position: absolute;
    bottom: 50%;
    width: 100%;
    text-align: center;
  }
  &__sub-center-text {
    position: absolute;
    bottom: 30%;
    width: 100%;
    text-align: center;
    color: $primaryColor;
    font-weight: 700;
  }

  &__not-found-vector {
    position: absolute;
    bottom: -.54rem;
    height: 10rem;
  }

  @include tablet {
    grid-column: 3 / 5;
    grid-row: 2 / 3;
  }
  @include desktop {
    grid-column: 10 / -1;
    grid-row: 1 / 2;
  }
}
