@use "../../styles/partials/global" as *;
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/responsive" as *;

.book {
  border-radius: 18px;
  box-shadow: 2px 10px 19px -1px rgba(0, 0, 0, 0.05);
  grid-column: 1 / -1;
  grid-row: 1 / 5;
  background-color: $whiteColor;
  color: $textColor;
  overflow: hidden;
  transition: all 0.3s;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 2rem;
  &__info-card {
    display: flex;
    gap: 2rem;
    align-items: center;
    height: 100%;
    flex-direction: column;

    @include tablet {
    }
    @include desktop {
    }
  }

  &__left {
    display: flex;
    gap: 1rem;
    flex: 1;
    justify-items: center;
    flex-direction: column;
    @include tablet {
    flex-direction: row;
    align-items: center;

    }
  }
  &__purchase-icon {
    font-size: 1.3rem !important;
  }
  &__cover-image {
    border-radius: 18px;
    height: 75%;
    width: 12rem;
    @include tablet {
      height: 100%;
    }
    @include desktop {
      width: 15rem;
    }
  }
  &__right {
    display: flex;
    align-items: flex-start;
    gap: 2rem;
    width: 100%;
    flex: 1;
    justify-content: space-between;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: calc(100% / 2);
  }
  &__cta-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__purchase {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  &__manage,
  &__amazon {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 0.5rem;
    @extend %CTAbutton;
    width: fit-content;
    padding: 0.75rem 2rem;
  }

  &__manage-icon {
    font-size: 1.3rem !important;
  }
  &__criteria {
    margin-bottom: 0.25rem;
  }
  &__info-value {
    color: $placeholderColor;
    overflow-y: auto;
    &::-webkit-scrollbar-thumb {
      background: $primaryColor;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-track {
      background-color: $grayColor;
      border-radius: 18px;
    }
    &::-webkit-scrollbar {
      width: 0.4rem;
    }
  }
  &__info-value-description {
    color: $placeholderColor;
    line-height: 1.5rem;
    overflow-y: auto;
    height: 9rem;
    &::-webkit-scrollbar-thumb {
      background: $primaryColor;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-track {
      background-color: $grayColor;
      border-radius: 18px;
    }
    &::-webkit-scrollbar {
      width: 0.4rem;
    }
  }
  &__progressbar-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: $placeholderColor;
  }

  &__progressbar {
    width: 1.5rem !important;
  }

  &__in-shelf {
    position: absolute;
    top: 3rem;
    right: 3rem;
    &--true {
      color: $successColor;
      text-decoration: underline;
    }
    &--false {
      color: $errorColor;
    }
  }

  &__finished-vector {
    position: absolute;
    bottom: 0;
    right: 3rem;
    width: 15rem;
  }

  @include tablet {
    grid-column: 3 / -1;
    grid-row: 1 / 4;
  }
  @include desktop {
    grid-column: 4 / -1;
    grid-row: 1 / 4;
  }
}
