@use "../../styles/partials/global" as *;
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/responsive" as *;

.header {
  display: flex;
  gap: 2rem;
  height: 6rem;
  position: sticky;
  top: 0;
  z-index: 2;
  padding: 1.25rem 3rem;
  background-color: $whiteColor;
  justify-content: space-between;
  align-items: center;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  box-shadow: 0px 4px 24px -8px rgba(0, 0, 0, 0.25);
  &__left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    @include tablet {
      flex: initial;
      gap: 2rem;
    }
  }

  &__mobile-menu {
    font-size: 2rem !important;
    transition: all 0.5s !important;
    color: $primaryColor;
    &:hover {
      transform: scale(1.2);
    }
    @include tablet {
      display: none !important;
    }
  }
  &__logo {
    border-radius: 18px;
    height: 3.5rem;
  }

  &__searchbar-wrapper {
    display: none;
    @include tablet {
      display: block;
      position: relative;
      flex: 1;
    }
  }
  &__middle {
    display: none;
    @include tablet {
      display: block;
      flex: 1;
      padding: 5rem;


    }
    @include desktop {
      padding: 0 10rem;
    }
  }

  &__search-icon-wrapper {
    position: absolute;
    display: flex;
    align-items: center;
    color: $placeholderColor;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.5s;
    &:hover {
      opacity: 0.7;
    }
    @include tablet {
      left: 1rem;
    }
  }

  &__search-input {
    @extend %textInput;
    background-color: $whiteColor;
    padding-left: 3rem;
    height: 3.5rem;
    &:focus {
      outline: none;
    }
  }

  &__right {
    display: none;
    @include tablet {
      display: flex;
      align-items: center;
      gap: 1rem;
    }
  }
  &__darkmode-icon,
  &__ringbell-icon {
    display: none;
    cursor: pointer;
    color: $textColor;
    font-size: 1.75rem !important;
    transition: all .3s !important;
    &:hover {
      color: $primaryColor;

    }
    @include tablet {
      display: block;
      cursor: pointer;
    }
  }

  &__user-avatar {
    border-radius: 50%;
    height: 3rem;
    margin-left: 0.5rem;
  }
  &__user-area {
    display: flex;
    gap: 1rem;
    align-items: center;
    cursor: pointer;
  }
  &__user-info {
    display: none;
    @include desktop {
      display: block;
    }
  }
  &__username {
    font-size: 1rem;
    line-height: 1.2rem;
  }
  &__level {
    font-size: 0.8rem;
    color: $placeholderColor;
  }

  // header break points
  @include desktop {
    max-width: 1440px;
    margin: 0 auto;
  }
}
