@use "../../../styles/partials/global" as *;
@use "../../../styles/partials/colors" as *;
@use "../../../styles/partials/responsive" as *;

.add-reading {
  background-color: $whiteColor;
  border-radius: 18px;
  box-shadow: 2px 10px 19px -1px rgba(0, 0, 0, 0.05);
  grid-column: 1 / -1;
  grid-row: 2 / 7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 1.5rem 1.5rem 3rem 1.5rem;

  &__heading {
    margin-bottom: 1.5rem;
    align-self: start;
  }
  &__card-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    background-color: $grayColor;
    border-radius: 18px;
    padding: 1rem;
    width: 100%;
    @include tablet {
      flex-direction: row;
      width: calc(100% - 2rem);
    }
    @include desktop {
      width: calc(100% - 10rem);
    }
  }

  &__left,
  &__cover-image {
    height: 12rem;
    width: 10rem;
    object-fit: cover;
    object-position: center;
    border-radius: 18px;
    @include tablet {
      height: 17rem;
      width: 15rem;
    }
  }
  &__book-name,
  &__book-description,
  &__book-genre {
    margin-bottom: 0.5rem;
  }

  &__right {
    padding: 1rem 0;
    overflow: hidden;
    width: 40%;
    text-align: center;
    p {
      color: $placeholderColor;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    @include tablet {
      text-align: left;
    }
  }

  &__input-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 3rem;

    @include tablet {
      flex-direction: row;

      justify-content: space-between;
    }
  }

  &__left-inputs {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex: 1;
  }
  &__right-inputs {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    flex: 1;
  }
  &__book-number-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.6rem;
  }
  &__paegs-spliter {
    margin-top: 1rem;
  }
  &__book-description-wrapper {
    flex: 1;
  }
  &__input {
    @extend %textInput;
    transition: background-color 0.3s ease;
    background-color: $whiteColor;
    resize: none;
    &--description {
      height: 100%;
      &::-webkit-scrollbar-thumb {
        background: $primaryColor;
        border-radius: 10px;
      }
  
      &::-webkit-scrollbar-track {
        background-color: $grayColor;
        border-radius: 18px;
      }
      &::-webkit-scrollbar {
        width: 0.4rem;
      }
    }
    &--invalid {
      border-color: $errorColor;
    }
  }
  &__input-file::file-selector-button {
    border: none;
    padding: 0.8rem 1rem;
    background: $primaryColor;
    border-radius: 18px;
    color: $whiteColor;
    font-size: 0.8rem;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
  }
  &__CTAs {
    display: flex;
    width: 100%;
    gap: 1rem;
    margin-top: 0.6rem;
    justify-content: space-between;
  }
  &__CTA-button {
    flex: 1;

    @extend %CTAbutton;
    padding: 0.8rem 2rem;
    &--cancel {
      background-color: $whiteColor;
      color: $placeholderColor;
      border: 1px solid $placeholderColor;
      &:hover {
        border: 1px solid $placeholderColor;
        background-color: $whiteColor;
      }
    }
  }
  // errors
  &__error {
    position: absolute;
    margin-top: 0.12rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  &__error-icon {
    color: $errorColor;
    font-size: 1.25rem !important;
  }

  &__error-msg {
    font-weight: 400;
    font-size: 0.75rem;
    transition: all 0.3s;
    opacity: 0.7;
    &:hover {
      opacity: 1;
    }
  }
  &__status {
    padding-left: 0.5rem;
    border-radius: 5px;
    &--success {
      border-left: 5px solid $successColor;
    }
    &--fail {
      border-left: 5px solid $errorColor;
    }
  }

  @include tablet {
    background-color: $whiteColor;
    grid-column: 3 / -1;
    grid-row: 2 / 5;
  }

  @include desktop {
    grid-column: 4 / 10;
    grid-row: 2 / -1;
  }
}
